* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  font-size: 25px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.card {
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(255, 247, 34, 0.3);
  width: 450px;
  min-height: 600px;
  padding: 30px 20px;
  border: 1px solid #f8f8f8;
}

.card.yandex_theme {
  background-image: linear-gradient(45deg, #ffdb4d, #FFF722);
  color: #080808;
  text-transform: uppercase;
}

.item:not(:last-child) {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f1;
}

.card.yandex_theme .item:not(:last-child) {
  border-bottom: 3px solid #fff;
}

.item-label {
  margin-bottom: 10px;
}
